.card {
  width: 300px; /* Ширина карточки */
    height: auto; /* Высота автоматически подстраивается под контент */
    border: 1px solid #ccc; /* Рамка карточки */
    border-radius: 10px; /* Скругление углов */
    margin: 10px; /* Отступ между карточками */
    padding: 20px; /* Внутренний отступ внутри карточки */
    display: inline-block; /* Отображение как блочный элемент */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 0;
  }

  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card-body {
    padding: 20px;
  }

  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-text {
    margin-bottom: 10px;
  }